.Rproj.user/
.Rhistory
.RData
.Ruserdata
*tsv
FDR_test.R
get_nchrom.R
glm_script_backup.R
join_pops_debug.R
model_test.R
n_snps_plot.R
PoolSNP_vcf_wrangle.R
read_loop_test.R
relatorio_help.R
*.pdf
teste.R
vcf_call_filter_overlap.R
test_glm.R
ignored_figures/*
relatorio_clinalSNP_ident_files/*
relatorios_Rmds/*
pre_scripts/*
n_snps_plot.R
